Button {
    -fx-font-size: 40;
    -fx-text-fill: #000000;
    -fx-font-family: "Serif";
    -fx-font-weight: bold;
    -fx-font-style: oblique  ;
    -fx-font-smoothing-type: lcd;
    -fx-background-color: linear-gradient(#415529, #415529);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);

    -fx-border-color:black;
    -fx-border-width: 3 3 3 3;

    -fx-background-image: url("/images/GreenStone.png");
    /*-fx-background-size: 1000px;*/
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
}
ListView{
    -fx-border-color: #734206;
    -fx-border-width: 5  5 5 5;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #926215;
    -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: #ffffff;
}

.list-cell:filled:hover {
    -fx-background-color: #c8b933;
    -fx-text-fill: white;
}