Button {
    -fx-font-size: 32;
    -fx-text-fill: #000000;
    -fx-font-family: "Serif";
    -fx-font-weight: bold;
    -fx-font-style: oblique  ;
    -fx-font-smoothing-type: lcd;
    -fx-background-color: linear-gradient(#6e482e, #6e482e);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);

    -fx-border-color:black;
    -fx-border-width: 3 3 3 3;

    -fx-background-image: url("/images/BrightDirt.png");
    /*-fx-background-size: 500;*/
    -fx-background-size: 1000px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
}

Label {
    -fx-background-color: linear-gradient(#543603, #469199);
    -fx-border-color:black;
    -fx-border-width: 3 3 3 3;
}

RadioButton{
    -fx-background-color: linear-gradient(#543603, #469199);
    -fx-border-color:black;
    -fx-border-width: 3 3 3 3;
}

Text{
    -fx-background-color: linear-gradient(#543603, #469199);
    -fx-border-color:black;
    -fx-border-width: 3 3 3 3;
}
